@font-face {
	font-family: 'BAKFont';
	src: url('fonts/pfynvf9yw8me.eot');
	src: local('※'), url('fonts/uq5gxzj7pugs.woff') format('woff'), url('fonts/uq5gxzj7pugs.ttf') format('truetype'), url('fonts/uq5gxzj7pugs.svg#webfontmxVyPpwa') format('svg');
	font-weight: normal;
	font-style: normal;
}

/*body, a {font-family: BAKFont, Dotum, "Lucida Grande", Helvetica, Verdana, sans-serif;background: #272822;color:#fff;}*/
/*a {color:#66d9ef; text-decoration: none}*/
/* reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button{margin:0;padding:0}
fieldset,img{border:0 none}
dl,ul,ol,menu,li {list-style:none}
blockquote, q {quotes: none}
blockquote:before, blockquote:after,q:before, q:after {content: '';content: none}
input,select,textarea,button {vertical-align:middle}
button {border:0 none;background-color:transparent;cursor:pointer}
body,th,td,input,select,textarea,button,a {font-family: BAKFont, '굴림', Dotum, "Lucida Grande", Helvetica, Verdana, sans-serif;}
a {color:#000; text-decoration: none}
h1,h2,h3,h4 {font-weight: normal;}

/* global */
.ir_pm {display:block;overflow:hidden;font-size:0px;line-height:0;text-indent:-9999px} /* 사용된 이미지내 의미있는 텍스트의 대체텍스트를 제공할때  */
.ir_wa {display:block;overflow:hidden;position:relative;width:100%;height:100%;z-index:-1} /* 중요한 이미지 대체텍스트로 이미지off시에도 대체 텍스트를 보여주고자 할때 */
.screen_out {display:block;overflow:hidden;position:absolute;left:-9999px;width:1px;height:1px;font-size:0;line-height:0;text-indent:-9999px} /* 대체텍스트가 아닌 접근성을 위한 숨김텍스트를 제공할때 */
.screen_hide {font-size:0;line-height:0;visibility:hidden} /* screen_out클래스를 사용할 수 없으며, 해당 텍스트를 숨겨야 할때 */

/* common */
.f_l {float:left}
.f_r {float:right}
.cl_b {clear:both;width:0;height:0;font-size:0;line-height:0}
.show {display:block}
.hide {display:none}
.tbl {border-collapse:collapse;border-spacing: 0} /* 테이블 초기화 */


/* for all */
html { overflow-x: hidden;overflow-y: scroll;}
html,body {height:100%;}
img {max-width: 100%;height:auto !important;}
address {font-style: normal;}
#wrap {position:relative;background:#fff;padding:10px;color:#000;width:90%;margin:0 auto;}

.header {width:100%;}
.content {min-height:800px;font-size: 13px;letter-spacing: 2px}
.footer {clear: both;width:100%;padding:20px 0 0 1.5%;font-size:12px;}
.footer a {color: #FF3880}
.header_wrap,.post_detail,.widget,#post-51,#post-186,#post-16 {padding:0 1.5%;}
#post-51 {min-height:800px;}
.header h1 {font-size: 18px;margin-bottom: 30px;padding: 0 0 0 6px;border-left: 4px solid #FF3880;line-height: 16px;}
.sq_box {width:100%;display:inline-block;}
.oldNew {text-align: right;}
.oldNew a {margin-left:20px;}
.cont_info {padding-bottom: 10px;margin-bottom: 10px;border-bottom: 1px dotted #000;width: 23%;float: left;margin-right: 2%;} 
.cont_info h3 {font-size:14px;padding-bottom: 10px;}
.cont_info h3 a:hover {text-decoration: underline;}
.cont_info .date {color:#FF3880;font-size: 11px;padding-bottom:6px;}
.cont_info .crayon-theme-github {display: none}
.cont_info .txt {font-size: 11px;word-break:break-word;}
/*.cont_box .thum img{width:100% !important;height:auto !important;}
*/.navigation {display:inline-block;padding-bottom: 30px;width:100%;}
.navigation .gnb {display:inline-block;width:100%;}
.navigation a {font-size:12px;}
.navigation li {width:33.3%}
.widget {padding: 0 0 10px 1.5%;}
.widget_body {width:100%;display: inline-block;}
.widget_body li {float:left; padding-right:20px;}
.widget_body li a{color:#FF3880;}
.widget_body li a:hover,.widget_body li a:focus {color:#000;}
.box_all {max-width: 1050px}
.back_id {display:none;}
.post_detail {line-height: 24px;}
.post_detail a {color:#FF3880;text-decoration: underline;}
.post_detail h3.maintitle {color:#FF3880;font-size: 1.7em}
.post_detail .buttons {padding-top:4px;padding-bottom:20px;}
.post_detail .tags {padding-top:20px;}
#post-51,#post-186,#post-16 {max-width: 1050px;}
#post-51 p,#post-186 p {margin:0 5px 10px;position: relative;float: left;}
#post-51 p img,#post-186 p img{display:block;width:100%;height:auto;}
.preloader {position: absolute;width: 100%;height:100%;padding-top:200px;text-align:center;background: #fff;z-index: 9999;}
.twitter li {display:inline-block;width:100%;padding-bottom:10px;margin-bottom:10px;border-bottom:1px dotted #e0e0e0;}
.twitter li h1 {float:left;padding-right:10px;}
.twitter li .subject {color:#FF3880;}
.twitter li .subject .date {color:#000;font-size:11px;}
.twit img {display:none;}
.txt_timeline {padding:10px 0px;}
.txt_timeline img {vertical-align: middle;width:25px;height:auto;}
.uber_projects {padding-bottom:15%;}
.img_uber {padding-bottom:10px;border-bottom:1px dotted #777;}
.uber_projects img {width:100%;border-top:1px solid #e0e0e0;}
.uber_projects img:first-child {margin-bottom:10px;}
.uber_projects dl {padding:10px 0;border-bottom:1px solid #000;}
.uber_projects dl dt {font-size:14px;font-weight:bold;}
.uber_projects dl dd {padding-top:10px;}
.uber_projects dl a {color:#000;font-size: 12px;font-weight: normal;text-decoration: underline;}
.uber_projects dl a:hover {color:#FF3880;}
.navi li {padding-left: 40px;text-indent: -40px;}
.navigation .search { position: relative; border-bottom: 1px dotted #000; padding-top:56px;}
.navigation .search .input_area { clear: both; display: block; }
.navigation .search .input_area input { width: 100%; height: 24px; background-color: transparent; }
.navigation .search .search_btn { background-color: transparent; border: 0; bottom: 0; font-size: 14px; height: 18px; padding: 0; position: absolute; right: 0; cursor: pointer; }
.navigation .search input[type="text"] { border: 0; }
.navigation .search label {display:none;}
.fb-like {word-break: break-all;padding-bottom:40px;}
.post_detail p {word-break: break-all;}


/* automatic thumbnail */
@media all and (min-width:568px){
/*.cont_box {display: block;width: 30%;height: 0;padding-bottom:29%;float: left;box-shadow:0 0 2px #e0e0e0;margin: 0 1.5% 3%;position: relative;overflow: hidden;color:#000;}
*/.navigation li {padding-bottom: 4px;}
.widget_body li a{font-size: 20px}
.uber_projects img {width:50%;border-top: 1px solid #eee;border-bottom: 1px solid #eee;}
.uber_projects img:first-child {margin-bottom:0;}

}
@media all and (min-width:900px){
.header_wrap,.post_detail,#post-51,#post-186,#post-16,.footer {padding:0 1%;}
.widget {padding: 0 0 10px 1%;}
/*.cont_box {display: block;width: 23%;height: 0;padding-bottom:22%;float: left;box-shadow:0 0 2px #e0e0e0;margin: 0 1% 2%;position: relative;overflow: hidden;color:#000;}
*/}

/* tablet and desktop */
@media all and (min-width:768px){
#wrap {position:relative;background:#fff;padding:20px;}
}

/* tablet */
@media all and (min-width:768px) and (max-width:1024px) {
}

/* desktop */
@media all and (min-width:1025px) {
.header h1 {font-size: 18px;margin-bottom: 30px;line-height: 16px;border-left: 1px solid #FF3880;-webkit-writing-mode:vertical-rl;-moz-writing-mode:vertical-rl;-ms-writing-mode:vertical-rl;-o-writing-mode:vertical-rl;-epub-writing-mode:vertical-rl;writing-mode:vertical-rl;}
.header {position:absolute;top:20px;left:20px;width:200px;}
.content {padding:0 0 0 240px;}
.back_id {position: absolute; z-index: 10;top:10px;left:268px;display:block;}
.back_id p {color: #FF3880;letter-spacing: 22px;font-size:20px;line-height:40px;}
.twit span {display:none}
.twit img {display:inline;width:20px;margin-top:20px;height:auto;}
/*.back_id p.t01 {left: 260px; top: 12px; }
.back_id p.t02 {left: 260px; top: 53px;}
.back_id p.t03 {left: 660px; top: 53px;}
.back_id p.t04 {left: 660px; top: 200px;}
.back_id p.t05 {left: 260px; top: 703px; }
.back_id p.t06 {left: 260px; top: 703px; }
.back_id p.t07 {left: 260px; top: 703px; }
.back_id p.t08 {left: 260px; top: 703px; }
.back_id p.t09 {left: 562px; top: 53px; font-size: 50px;}
.back_id p.t10 {left: 860px; top: 138px; font-size: 50px;}
.back_id p.t11 {left: 260px; top: 703px; font-size: 50px; }
.back_id p.t12 {left: 260px; top: 703px; font-size: 50px; }
.back_id p.t13 {left: 260px; top: 703px; font-size: 50px; }
.back_id p.t14 {left: 260px; top: 703px; font-size: 50px; }*/
/*.box_all {position: absolute;z-index: 20;top:536px}*/
/*.category-portfolio .box_all,.search-results .box_all {position: inherit;}
*/.widget {padding: 0 0 36px 1%;}
.post_detail,#post-51,#post-186,#post-16,.footer {padding-left:1%;}
.post_detail .buttons {padding-bottom:4%;}
/*.footer {width:200px;position:absolute;top:519px;left:20px;font-size:11px;padding:0;}
*/}
@media all and (min-width:1133px) {
/*.home .box_all {width:76%;}*/

}
@media all and (min-width:1280px) {
#wrap {width:78%;}
}

@media all and (min-width:1500px) {
#wrap {width:65%;}
}

@media all and (max-width:567px) {
iframe {max-width: 100% !important;height: auto !important}
}
