@import url(http://fonts.googleapis.com/css?family=Neuton);
/* @font-face {
  font-family: 'Nanum Barun Gothic';
  font-style: normal;
  font-weight: 400;
  src: local('Nanum Barun Gothic Regular'), local('Nanum Barun Gothic-Regular'), local('NanumBarunGothic Regular');
  src: url(./font/NanumBarunGothic.eot);
  src: url(./font/NanumBarunGothic.eot?#iefix) format('embedded-opentype'),
       url(./font/NanumBarunGothic.woff) format('woff'),
       url(./font/NanumBarunGothic.ttf) format('truetype');
}

@font-face {
  font-family: 'Nanum Barun Gothic';
  font-style: normal;
  font-weight: 700;
  src: local('Nanum Barun Gothic Bold'), local('Nanum Barun Gothic-Bold'), local('NanumBarunGothic Bold');
  src: url(./font/NanumBarunGothicBold.eot);
  src: url(./font/NanumBarunGothicBold.eot?#iefix) format('embedded-opentype'),
       url(./font/NanumBarunGothicBold.woff) format('woff'),
       url(./font/NanumBarunGothicBold.ttf) format('truetype');
} */
/* @import url(http://fonts.googleapis.com/css?family=Noto+Sans); */
/* reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button{margin:0;padding:0;}
fieldset,img{border:0 none}
dl,ul,ol,menu,li {list-style:none}
blockquote, q {quotes:none}
blockquote:before, blockquote:after,q:before, q:after {content:'';content:none}
input,select,textarea,button {vertical-align:middle}
button {border:0 none;background-color:transparent;cursor:pointer}
body,th,td,input,select,textarea,button,a {font-family:"Neuton", Serif,Dotum,"Lucida Grande", Helvetica, Verdana, sans-serif;}
a {color:#000; text-decoration:none;font-size:16px}
a:hover {color:#1748B5;}
h1,h2,h3,h4 {font-weight:normal;}

/* #wrap {background:#FFFBF4} */
html {overflow-y:scroll;overflow-x:hidden;}
/* div,p,li,a {word-break:break-all;} */

.fa-2x {font-size:18px!important;}
.pdb_6 {padding-bottom:6px;}
.mgr_10 {margin-right:10px;}
.mgr_20 {margin-right:20px;}
.clear {clear:both}
.relative {position:relative;}
.blind {display:block;overflow:hidden;position:absolute;top:-1000em;left:0}
.portfolio {position:absolute;top:-76px;right:0;
		-webkit-transform:rotate(-45deg) scale(1) skew(1deg) translate(0);
		-moz-transform:rotate(-45deg) scale(1) skew(1deg) translate(0);
		-o-transform:rotate(-45deg) scale(1) skew(1deg) translate(0);
		transform:rotate(-45deg) scale(1) skew(1deg) translate(0);
		font-size:30px;line-height:23px;font-weight:bold;}

#wrap {overflow:hidden}
.thum {position:relative;width:85%;padding-bottom:40px;margin:0 auto;min-height:470px;}
.thum:after {content:"";display:block;clear:both;}
.line {overflow:hidden;}
.line.first,.line_portfolio,.thum .divider.one.sidebar,.thum .divider.one.post {padding-top:100px;}
.thum .divider {float:left;color:#000;line-height:24px;}
.thum .divider.one {width:96%;margin:0 2% 6%;}
.thum .divider.one.category-list {margin:0 2% 2%;}
.thum .divider.two {width:96%;margin:0 2% 6%;}
.thum .divider.four {width:46%;margin:0 2% 6%;}
.thum .divider.editing {font-size:20px;text-align:center;}
.thum h1 {line-height:18px;}
.thum h1 a {font-size:36px;font-weight:bold;line-height:42px;}
.thum h1 a.point {color:#1748B5;}
.thum .divider .box {font-size:16px;}
.thum .divider .box.img {position:relative;}
.thum .divider .box.img img {width:100%;height:auto;}
.thum .divider .box.img svg {position:absolute;top:0;left:0;}
.thum .divider .box h2 {padding-bottom:10px;padding-top:20px;font-size:20px;font-weight:bold;}
.thum .divider .box a {color:#1748B5;}
.thum .divider .box.history strong {display:block;}
.thum .divider .box.history span {display:block;padding-bottom:10px;}
.thum .divider.four.category-gal .desc {font-size:13px;}	
.sns_icon {padding-top:6%;text-align:right}
.oldNew {clear:both;margin:0 2% 4%;}
.oldNew a {margin-right:40px;}
.oldNew:after {display:block;clear:both;content:"";visibility:visible;}
.thum-img img {width:100%;height:auto;}
.top {position:fixed;width:100%;top:0;left:0;background:#fff;z-index:1000;}
.top .m_menu {position:fixed;width:90%;top:0;left:0;padding:3% 5%;}
.top .m_menu .bt {width:100%;text-align:right}
.top .m_menu ul {position:fixed;top:0;left:0;width:100%;height:100%;background:#f3f3f3}
.top .m_menu ul li {padding:10px 0;text-align:center;}
.top .m_menu ul li a {font-size:20px}
.top .menu {display:none;}
.top .menu {position:relative;overflow:hidden;width:594px;margin:0 auto;padding:200px 50px 36px;
  -webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;}
.top .menu.show {padding-top:70px;}
.top .menu ul li {float:left;padding-right:20px;}
.top .menu ul li a {position:relative;display:inline-block;padding-bottom:5px;overflow:hidden}
.top .menu ul li a {opacity:1;-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0);}
.top .menu ul li a:after, .top .menu ul li a:before {
position:absolute;
right:0;
bottom:0;
left:0;
content:"";
display:block;
margin:auto;
width:26px;
height:1px;
border-top:1px dashed #000;
}
.top .menu ul li a:before{border-top:1px dashed #1748B5;-webkit-transform:translate3d(-200%,0,0);transform:translate3d(-200%,0,0);-webkit-transition:all .8s cubic-bezier(0.19,1,.22,1);transition:all .8s cubic-bezier(0.19,1,.22,1)}
.top .menu ul li a:after{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0);-webkit-transition:all .4s cubic-bezier(0.19,1,.22,1);transition:all .4s cubic-bezier(0.19,1,.22,1)}
.top .menu ul li a:hover:before{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
.top .menu ul li a:hover:after{-webkit-transform:translate3d(200%,0,0);transform:translate3d(200%,0,0)}
.top .menu .main_title {position:absolute;font-size:30px;line-height:35px;text-align:right;right:50px;bottom:100px;font-weight:bold;font-style:italic;
  -webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;}
.top .menu .main_title.show {bottom:36px;font-size:28px;line-height:20px;}
.user {font-size:16px;}
.thum .left {display:none;}
.thum .right {clear:both;padding:2%;}
.thum .right address {font-size:16px;}

.post-detail * {line-height:150%;font-size:13px !important;font-family:"Nanum Barun Gothic",Serif,Dotum,"Lucida Grande", Helvetica, Verdana, sans-serif !important;text-overflow:ellipsis;white-space:normal;word-break:break-all}
.post-detail strong {font-weight:normal!important}
.post-detail img {max-width:100%;height:auto;}
.post .maintitle {padding-bottom:2%;font-size:20px !important;}
.post .date,.buttons,.fb_iframe_widget {padding-bottom:2%;}
.widget_body {overflow:hidden;padding-bottom:5px;border-bottom:1px solid #000;}
.widget_body li {float:left;padding:0 4% 0 0}
.category-list {padding-bottom:1%;border-bottom:1px dashed #595959;overflow:hidden}
.category-list h3 {padding-bottom:1%;}
.category-list .date {font-size:13px}
.buttons a {font-size:18px;}
.navi {padding-top:4%;}
.navi li {padding-bottom:2%;}
.cat-item.cat-item-4 {display:none;}
.emb-thum a {display:block;width:100%;height:100%;}
.emb-thum a .desc {height:40px;}
.emb-thum.fave a .desc {height:auto;font-size:13px}
#comments {margin-top:40px;padding:40px 0 20px;border-top:1px dashed #000;}
#respond {padding:30px 0 50px;}
#respond textarea {width:100%;height:50px;margin-top:10px;border:1px solid #666;}
#respond input[type="submit"] {background:none;border:1px dashed #666;padding:3px;margin:4px 0 0 0;color:#000;cursor:pointer;}
.comment-author.vcard {float:left}
.comment-author.vcard img {margin-right:4px;vertical-align:middle}
.comment-meta.commentmetadata {padding-bottom:4px;text-align:right;}
.comment-body {padding-bottom:20px;}
.comment-body p {clear:both;padding: 6px 0 0 42px;}
.commentlist .reply {padding-top:4px;text-align:right}
.commentlist .reply a {color:#1748B5;}
.commentlist .children {margin-left:30px;}
.nav {position:absolute;padding-top:200px;top:450px;right:-20px;}
.nav li {padding-bottom:20px;}	
.nav li .fa-1x {padding:4px;font-weight: bold;}
.v_icon {display:none;}

/* automatic thumbnail */
@media all and (min-width:400px){
	.nav {right:-43px;}	
	.comment-meta.commentmetadata {padding-top:4px;}
	.category-list h3 {float:left;padding-bottom:0;}
	.category-list .date {float:right;padding-top:4px;}
	.thum {width:80%}
	.thum .divider .box.history p {overflow:hidden}
	.thum .divider .box.history strong {float:left;width:40%;}
	.thum .divider .box.history span {float:left;width:60%;padding-bottom:0}	
	.thum .divider.one .box.history strong {float:none;display:inline;margin-right:10px;}
	.thum .divider.one .box.history span {float:none;display:inline;}
	iframe {max-width:100% !important;}
}
@media all and (min-width:900px){
}

/* tablet and desktop */
@media all and (min-width:768px){
	.top .m_menu {display:none;}
	.top .menu {display:block;}
	.line.first,.line_portfolio,.thum .divider.one.sidebar,.thum .divider.one.post {padding-top:300px;}
	.thum .divider .box h2 {padding-top:0;}
	.thum {width:594px}	
	.thum .left {display:block;position:absolute;left:-32px;top:100px;padding:3% 0 0 0;font-size:18px;}
	.main_switch {position:absolute;top:204px;left:0;}
	.thum .right {position:absolute;right:-182px;top:220px;padding:0;}
	.thum .right address {-webkit-transform:rotate(90deg) scale(1) skew(1deg) translate(222px);
					-moz-transform:rotate(90deg) scale(1) skew(1deg) translate(222px);
					-o-transform:rotate(90deg) scale(1) skew(1deg) translate(222px);
					transform:rotate(90deg) scale(1) skew(1deg) translate(222px);}
	.thum .divider.two {width:46%;}
}

/* tablet */
@media all and (min-width:768px) and (max-width:1024px) {
}

/* desktop */
@media all and (min-width:1025px) {	
	.thum .divider.four {width:21%;min-height:140px;}	
	.thum .divider.four.category-gal {height:280px;}	
}
@media all and (min-width:1100px) {
	.thum {width:900px}	
	.top .menu {width:860px;}
}
@media all and (min-width:1601px) {
}


.grayscale{filter:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>
		#grayscale");filter:gray;-webkit-filter:grayscale(100%);-webkit-transition-duration:
		.8s;-moz-transition-duration:
		.8s;-ms-transition-duration:
		.8s;-o-transition-duration:
		.8s;transition-duration:
		.8s;-webkit-transition-property:-webkit-filter,opacity;-moz-transition-property:filter,opacity;-o-transition-property:filter,opacity;transition-property:filter,opacity}

.grayscale.grayscale-fade{-webkit-transition:-webkit-filter 
	.5s;-webkit-transition-duration:
	.8s;-moz-transition-duration:
	.8s;-ms-transition-duration:
	.8s;-o-transition-duration:
	.8s;transition-duration:
	.8s;-webkit-transition-property:-webkit-filter,opacity;-moz-transition-property:filter,opacity;-o-transition-property:filter,opacity;transition-property:filter,opacity}

.grayscale-replaced.grayscale-fade svg{opacity:1;-webkit-transition:opacity 
	.5s ease;transition:opacity 
	.5s ease;-webkit-transition-duration:
	.8s;-moz-transition-duration:
	.8s;-ms-transition-duration:
	.8s;-o-transition-duration:
	.8s;transition-duration:
	.8s;-webkit-transition-property:-webkit-filter,opacity;-moz-transition-property:filter,opacity;-o-transition-property:filter,opacity;transition-property:filter,opacity}



