@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
/* reset */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, textarea, p, blockquote, th, td, input, select, textarea, button {
  margin: 0;
  padding: 0; }

fieldset, img {
  border: 0 none; }

dl, ul, ol, menu, li {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

input, select, textarea, button {
  vertical-align: middle; }

button {
  border: 0 none;
  background-color: transparent;
  cursor: pointer; }

body, th, td, input, select, textarea, button, a {
  font-family: 'Nanum Gothic', '굴림', Dotum, "Lucida Grande", Helvetica, Verdana, sans-serif; }

a {
  color: #000;
  text-decoration: none;
  font-size: 12px; }

a:hover {
  color: #6600FF; }

h1, h2, h3, h4 {
  font-weight: normal; }

/* global */
.ir_pm {
  display: block;
  overflow: hidden;
  font-size: 0px;
  line-height: 0;
  text-indent: -9999px; }

/* 사용된 이미지내 의미있는 텍스트의 대체텍스트를 제공할때  */
.ir_wa {
  display: block;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  z-index: -1; }

/* 중요한 이미지 대체텍스트로 이미지off시에도 대체 텍스트를 보여주고자 할때 */
.screen_out {
  display: block;
  overflow: hidden;
  position: absolute;
  left: -9999px;
  width: 1px;
  height: 1px;
  font-size: 0;
  line-height: 0;
  text-indent: -9999px; }

/* 대체텍스트가 아닌 접근성을 위한 숨김텍스트를 제공할때 */
.screen_hide {
  font-size: 0;
  line-height: 0;
  visibility: hidden; }

/* screen_out클래스를 사용할 수 없으며, 해당 텍스트를 숨겨야 할때 */
/* common */
.f_l {
  float: left; }

.f_r {
  float: right; }

.cl_b {
  clear: both;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0; }

.show {
  display: block; }

.hide {
  display: none; }

.tbl {
  border-collapse: collapse;
  border-spacing: 0; }

/* 테이블 초기화 */
div, p, a {
  word-break: break-all; }

/* for all */
html {
  overflow-x: hidden;
  overflow-y: scroll; }

html, body {
  height: 100%; }

img {
  max-width: 100%;
  height: auto !important; }

address {
  font-style: normal; }

#wrap {
  position: relative;
  background: #fff;
  color: #000;
  font-size: 1em; }

#container {
  padding: 4%; }

.header h1 {
  text-align: center; }

/* automatic thumbnail */
/* tablet and desktop */
@media all and (min-width: 768px) {
  .cont_box {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .cont_box li {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      width: 50%; } }
/* tablet */
/* desktop */
@media all and (max-width: 567px) {
  iframe {
    max-width: 100% !important;
    height: auto !important; } }
